.card {
  height: 100%;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.profilePicDiv {
  width: 23vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.profilePic {
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
  height: 20vw;
  width: 20vw;
  border: 3px solid #555;
}

.cardBodyDiv {
  width: 65vw;
}
